<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style type="text/css">
	.header{
		height:200px;
		text-align: center;
		background: #1abc9c;
		color: white;
		font-size: 30px;
		
	}
	body{
		margin: auto;
		width: 600px;
		background: #e3e3e3;
	}
	li{
		display: inline;
		padding: 10px;
	}
	a{
		text-decoration: none;
	}
	ul{
		padding-top: 150px;
	}
	#user{
		    padding: 10px;
		    padding-left: 50px;
			border-radius: 25px;
			background: grey;
			width:200px;
			height: 60px;
			border: 2px solid white;
		}
		#search{
			padding-left: 50px;
		}



	</style>
	<script type="text/javascript">
		


	</script>
</head>
<body>
	<div class="header">
		<ul>
			<li><a href="feeder.html">Articles</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="create.html">Create</a></li>
			<li><a href="report.html">report</a></li>
			<li><a href="login.html">logout</a></li>

		</ul>
	</div>
	
		
	</div>






</body>
</html>