<!DOCTYPE html>
<html>
<head>
	<title>settings</title>
	<style type="text/css">
		body{
			margin: auto;
			width: 600px;
			height: 600px;
		    background: #1abc9c;
		    border: 2px solid black;
		    border-radius: 25px;
		}
	</style>
</head>
<body >
	<div  style="width: 300px;height: 300px; border: black 2px; border-radius: 4px;padding-top: 40px;" id="box1">
		<h1 style="position: center; padding-left: 200px; color: white">SETTINGS</h1>
    
    	<hr >
	<form action="addinstagram" methods='post'>
		<label for="instagram"><h3>ADD INSTAGRAM ACCOUNT</h3></label>
		<input style="border: 2px solid black; border-radius: 25px;" id="instagram" type="text" name="instagram">
        <label for="pass"><h3>ENTER YOUR PASSWORD</h3></label>
       
		<input style="border: 2px solid black; border-radius: 25px;" type="password" id="pass" name="pass">
		<br>
		<br>
		<input style="border-radius: 30px; text-decoration: none; font-family: sans-serif; font-style: italic;" type="submit" value="add/change">
	</form>
	<hr>

    	<form style="border-radius: 2px solid black" action="addmailid" methods='post'>
		<label for="emailid"><h3>ADD EMAIL ACCOUNT</h3></label>
		<input style="border: 2px solid black; border-radius: 25px;" id="emailid" type="text" name="emailid">
		<label for="pass"><h3>ENTER YOUR PASSWORD</h3></label>
		<input style="border: 2px solid black; border-radius: 25px;" type="password" id="pass" name="pass">
		<br><br>
		<input style="border-radius: 30px; text-decoration: none; font-family: sans-serif; font-style: italic;" type="submit" value="add/change">
	</form>
<hr>


</body>
</html>